body {
    background-color: #282c34;
    background-size: cover;
}

.Page-not-found {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Not-found-button {
    font-size: calc(10px + 2vmin);
}